<html>

<head>
    <link href="https://unpkg.com/tailwindcss@^1.4/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="pb-20  bg-gray-100">

    <div style="height:50%;" class="bg-gray-200">
        <iframe name="dir1" id="dir1" frameborder="0" scrolling="yes" style="overflow: hidden; height: 100%; 
        width: 50%; float: left; " height="100%" width="49%">
        </iframe>

        <iframe name="dir2" id="dir2" frameborder="0" scrolling="yes" style="overflow: hidden; height: 100%;
width: 50%; " height="100%" width="49%">
        </iframe>

    </div>
    <script>
        var frame1 = document.getElementById('dir1');
        var frame2 = document.getElementById('dir2');
        frame1.onload = function () {
            frame1.contentDocument.onscroll = function () {
                frame2.contentWindow.scrollTo(0, frame1.contentWindow.scrollY);
            }
        }

        frame2.onload = function () {
            frame2.contentDocument.onscroll = function () {
                frame1.contentWindow.scrollTo(0, frame2.contentWindow.scrollY);
            }
        }

    </script>

    {{ $diffs := resources.Get "diffs.json" }}

    <script>
        function component() {
            return {
                diffs: [],
                showRendered: function (path) {
                    var frame1 = document.getElementById('dir1');
                    var frame2 = document.getElementById('dir2');
                    frame1.src = `/dir1/${path}`
                    frame2.src = `/dir2/${path}`

                },
                init: function () {
                    var self = this;
                    fetch({{ $diffs.RelPermalink }})
                        .then(response => response.text())
                    .then(json => { self.diffs = JSON.parse(json); });
            }
        }
        }
    </script>

    <div class="container mx-auto pt-10 overflow-y-scroll border-t border-gray-200" style="height: 50%;"
        x-data="component()" x-init="init()">
        <h1 class="text-2xl font-bold ml-2" x-text="'Diffs (' + diffs.length + ')' "></h1>
        <div class="flex flex-wrap">
            <template x-for="(diff, index) in diffs" :key="diff.Path">
                <div class="w-2/5 p-2 border-b border-gray-200 pb-4">
                    <div class="w-full">
                        <div class="text-xs mb-2">
                            <label class="font-bold">Path:</label>
                            <span x-text="diff.Path"></span>
                        </div>
                        <div class="text-xs mb-3">
                            <label class="font-bold">Reason:</label>
                            <span x-text="diff.Reason"></span>
                        </div>
                        <button @click="showRendered(diff.Path)"
                            class="w-25 h-10 mr-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded text-xs">Rendered</button>
                        <button @click="showRendered(diff.Path + '.hl')"
                            class="w-25 h-10 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded text-xs">Source</button>
                    </div>
                </div>
            </template>

        </div>

    </div>
</body>

</html>